#set($layout="layout/member/template.vm")

<h1>开服信息</h1>
<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>编号</th>
			<th>游戏名称</th>
			<th>服务器名</th>
			<th>游戏类型</th>
			<th>开服时间</th>
			<th>操作</th>
		</tr>
	</thead>
	<tbody>
		#foreach( $game in $list )
		<tr>
			<td><input type="checkbox" value="$!{game.id}"></td>
			<td>$!{game.name}</td>
			<td>$!{game.serverName}</td>
			<td>$!{game.category}</td>
			<td>$!date.format('yyyy-MM-dd HH:mm:ss ',$!game.startTime)</td>
			<td>
				<a href="edit.html?action=view&id=$!{game.id}" class="view-link">查看</a>
				<a href="edit.html?action=edit&id=$!{game.id}" class="view-link">修改</a>
				<a href="edit.html?action=del&id=$!{game.id}" class="view-link">删除</a>
			</td>
		</tr>
		#end
	</tbody>
</table>

#pagination2($totalPages $currentPage '?')