#set($layout="layout/admin/template.vm")
<script type="text/javascript" src="$link.getContextPath()/js/admin/user/edit.js"></script>
<h1>$!{title}</h1>
<form class="form-horizontal">
	<fieldset>
		<legend>用户信息</legend>
		<div id="sys_msg"></div>
		<div class="control-group">
			<label class="control-label">用户账号</label>
			<div class="controls">
				<input type="text" class="input-xlarge" id="account" value="$!{user.account}" #if($action=='view') readonly #end />
			</div>
		</div>
		#if($action!='view')
			<div class="control-group">
			<label class="control-label">登录密码</label>
			<div class="controls">
				<input type="password" class="input-xlarge" id="password" value="" #if($action=='edit') placeholder="不更新密码，请保留空白" #end />
			</div>
		</div>
		#end
		<div class="control-group">
			<label class="control-label">用户邮箱</label>
			<div class="controls">
				<input type="text" class="input-xlarge" id="email" value="$!{user.email}" #if($action=='view') readonly #end />
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">联系电话</label>
			<div class="controls">
				<input type="text" class="input-xlarge" id="tel" value="$!{user.tel}" #if($action=='view') readonly #end />
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">IM</label>
			<div class="controls">
				<input type="text" class="input-xlarge" id="im" value="$!{user.im}" #if($action=='view') readonly #end />
			</div>
		</div>
		<div class="control-group">
          <label class="control-label">用户状态</label>
          <div class="controls">
            <select id="status" class="input-xlarge" #if($action=='view') disabled #end >
              <option value="1" #if($user.status==1) selected #end>已审核</option>
              <option value="0" #if($user.status==0) selected #end>待审核</option>
			  <option value="2" #if($user.status==2) selected #end>已锁定</option>
            </select>
          </div>
        </div>
		#if($action=='view')
		<div class="control-group">
			<label class="control-label">注册时间</label>
			<div class="controls">
				<input type="text" class="input-xlarge" id="gmtCreated" value="$!date.format('yyyy-MM-dd HH:mm',$!user.gmtCreated)" readonly #if($action=='view') disabled #end />
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">更新时间</label>
			<div class="controls">		  
				<input type="text" class="input-xlarge" id="gmtModified" value="$!date.format('yyyy-MM-dd HH:mm',$!user.gmtModified)" readonly #if($action=='view') disabled #end />
				<script>
					$(function(){
						#if($disabled==true)
						$('.form-horizontal input').keyup(function(e){
                    	    if(e.keyCode == 13) {
                    	    	save();
                    	    }
                    	});
						#end
					
						$('#gmtCreated').datetimepicker({
							value:'$!date.format('yyyy-MM-dd HH:mm',$!user.gmtCreated)',
							//mask:"9999-12-31 00:00",
							format:'Y-m-d H:i',
							lang:'ch'
						});
						
						$('#gmtModified').datetimepicker({
							value:'$!date.format('yyyy-MM-dd HH:mm',$!user.gmtModified)',
							//mask:"9999-12-31 00:00",
							format:'Y-m-d H:i',
							lang:'ch'
						});
					});
				</script>
			</div>
		</div>
		#end
		<input type="hidden" id="id" value="$!{user.id}" />
		#if($disabled==true)		
		<div class="form-actions">
			#if($action=='add')
			<button type="button" class="btn btn-primary" id="btn_reg">添加</button> 
			#else
			<button type="button" class="btn btn-primary" id="btn_save">保存</button> 
			#end
			<input type="reset" class="btn" value="重置" />
		</div>
		#end
	</fieldset>
</form>
