#set($layout="layout/admin/template.vm")
<script type="text/javascript" src="$link.getContextPath()/js/admin/user/edit.js"></script>
<h1>$!{title}</h1>
<form class="form-horizontal">
	<fieldset>
		<legend>用户信息</legend>
		<div id="sys_msg"></div>
		<div class="control-group">
			<label class="control-label">用户账号</label>
			<div class="controls">
				<input type="text" class="input-xlarge" id="account" value="$!{user.account}" #if($action!='add') readonly #end />
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">用户邮箱</label>
			<div class="controls">
				<input type="text" class="input-xlarge" id="email" value="$!{user.email}" #if($action!='add') readonly #end />
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">联系电话</label>
			<div class="controls">
				<input type="text" class="input-xlarge" id="tel" value="$!{user.tel}" />
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">IM</label>
			<div class="controls">
				<input type="text" class="input-xlarge" id="im" value="$!{user.im}" />
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">注册时间</label>
			<div class="controls">
				<input type="text" class="input-xlarge" id="gmtCreated" value="$!{user.gmtCreated}" readonly #if($action=='view') disabled #end />
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">更新时间</label>
			<div class="controls">		  
				<input type="text" class="input-xlarge" id="gmtModified" value="$!{user.gmtModified}" readonly #if($action=='view') disabled #end />
				<script>
					$(function(){
						#if($disabled==true)
						$('.form-horizontal input').keyup(function(e){
                    	    if(e.keyCode == 13) {
                    	    	save();
                    	    }
                    	});
						#end
					
						$('#gmtCreated').datetimepicker({
							value:'$!date.format('yyyy-MM-dd HH:mm',$!user.gmtCreated)',
							//mask:"9999-12-31 00:00",
							format:'Y-m-d H:i',
							lang:'ch'
						});
						
						$('#gmtModified').datetimepicker({
							value:'$!date.format('yyyy-MM-dd HH:mm',$!user.gmtModified)',
							//mask:"9999-12-31 00:00",
							format:'Y-m-d H:i',
							lang:'ch'
						});
					});
				</script>
			</div>
		</div>
		
		<input type="hidden" id="id" value="$!{user.id}" />
		#if($disabled==true)		
		<div class="form-actions">
			<button type="button" class="btn btn-primary" id="btn_save">保存</button>
		</div>
		#end
	</fieldset>
</form>
