#set($layout="layout/admin/template.vm")
<script type="text/javascript" src="$link.getContextPath()/js/admin/user/index.js"></script>
<h1 class="float_left">用戶管理</h1>
<a href="$link.getContextPath()/admin/user/edit.html?action=add" class="float_right btn btn-primary btn-large"><i class="icon-plus icon-white"></i>添加用户</a>
<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th><input type="checkbox" id="ckbox"><label>全选</label></th>
			<th>账号</th>
			<th>邮箱</th>
			<th>电话</th>
			<th>IM</th>
			<th>状态</th>
			<th>操作</th>
		</tr>
	</thead>
	<tbody>
		#if(0>=$users.size())
            <tr><td colspan="7">暂无数据...</td></tr>
		#end
		#foreach( $u in $users )
		<tr id="list_tr_gid_$!{u.id}">
			<td><input type="checkbox" value="$!{u.id}"></td>
			<td>$!{u.account}</td>
			<td>$!{u.email}</td>
			<td>$!{u.tel}</td>
			<td>$!{u.im}</td>
			<td>
				#if($u.status==1)
					<span class="label label-success">已审核</span>
				#elseif($u.status==2)
					<span class="label label-warning">未通过</span>
				#else
					<span class="label label-default">待审核</span>
				#end
			</td>
			<td>
				<a href="edit.html?action=view&id=$!{u.id}" class="view-link">查看</a>
				<a href="edit.html?action=edit&id=$!{u.id}" class="view-link">修改</a>
				<a href="javascript:;" class="view-link" onclick="javascript: return del($!{u.id});">删除</a>
			</td>
		</tr>
		#end
		<tr>
			<td colspan="7">
                <button id="delAll" type="button" class="btn btn-default float_left">删除所选</button>
            </td>
        </tr>
	</tbody>
</table>

#pagination2($totalPages $currentPage '?')