<header class="header">
	<div class="navbar">
		<h1 class="logo"><a href="#" title="看开服">看开服</a></h1>
		<ul class="nav">
			
			<li id="menu-item-3685" class="menu-item menu-item-type-custom menu-item-object-custom #if($seo.currentPage=='home') current-menu-item current_page_item #end menu-item-home menu-item-3685">
				<a href="$link.getContextPath()/index.html">开服首页</a></li>
			<li id="menu-item-5154" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-5154 #if($seo.currentPage=='today') current-menu-item current_page_item #end">
				<a href="$link.getContextPath()/today.html">今日开服</a></li>
			<li id="menu-item-5012" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-5012 #if($seo.currentPage=='tomorrow') current-menu-item current_page_item #end"">
				<a href="$link.getContextPath()/tomorrow.html">明日开服</a></li>
			<!--
			<li id="menu-item-5220" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-5220">
				<a href="$link.getContextPath()/rank.html">开服排行</a>
			</li>
			<li id="menu-item-4244" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-4244">
				<a href="$link.getContextPath()/gift.html">开服礼包</a>
				<ul class="sub-menu">
					<li id="menu-item-4438" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-4438">
						<a href="#">新手卡</a></li>
					<li id="menu-item-4439" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-4439">
						<a href="">道具卡</a></li>
					<li id="menu-item-4437" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-4437">
						<a href="">激活码</a></li>
				</ul>
			</li>
			-->
		</ul>
		<!--nav end-->
		<div class="screen-mini"><button data-type="screen-nav" class="btn btn-inverse screen-nav"><i class="icon-tasks icon-white"></i></button></div>
		<div class="menu pull-right">
			<form method="get" class="dropdown search-form" action="$link.getContextPath()/search.html">
				<input class="search-input" name="key" type="text" placeholder="输入关键字搜索" autofocus="" x-webkit-speech="">
				<input class="btn btn-success search-submit" type="submit" value="搜索">
			</form>
			<div class="btn-group pull-left">
				#if($LOGIN_USER.account)
				<button class="btn btn-primary" data-toggle="modal" data-target="#addgameinfo">+提交开服</button>
				#else
					<button class="btn btn-primary" data-toggle="modal" data-target="#login">+提交开服</button>
				#end
				<!--<button class="btn btn-primary" data-toggle="modal" data-target="#feed">订阅</button>-->
				<button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">关注 <i class="caret"></i></button>
				<ul class="dropdown-menu pull-right">
					<li><a rel="external nofollow" href="#" target="_blank">腾讯微博</a></li>	
					<li><a rel="external nofollow" href="#" target="_blank">新浪微博</a></li>	
				</ul>
			</div>
		</div>
	</div>
	<!--navbar end-->
	
	<div class="speedbar">
		<div class="pull-right">
			#if($LOGIN_USER.account)
				<i class="icon-user icon12"></i> <a href="$link.getContextPath()/member/index.html" target="_blank">$LOGIN_USER.account</a> | 
				<a href="$link.getContextPath()/member/logout.html">退出</a>
			#else
				<i class="icon-user icon12"></i> <a href="javascript:" data-toggle="modal" data-target="#login">登录</a>&nbsp;|&nbsp;
				<a href="$link.getContextPath()/register.html">注册</a>
			#end
			
		</div>
		<div class="toptip">
			<strong class="text-success">最新消息：</strong>$!{notice.content}
			<!--
			<strong class="text-success">最新消息：</strong><a rel="external nofollow" href="$link.getContextPath()/register.html" target="_blank">用户注册已开放！</a>&nbsp;
			你还可以：&nbsp;<a rel="external nofollow" href="#">投稿</a>&nbsp;/&nbsp;
			<a rel="external nofollow" href="#">广告合作</a>&nbsp;/&nbsp;
			联系邮箱：<strong class="text-info">admin@domian.com</strong> -->
		</div>
	</div>
	<!--speedbar end-->
</header>
#parse("layout/context.vm")
<script>
$(document).ready(function(){
	$('#login').keypress(function(event){
    	var keycode = (event.keyCode ? event.keyCode : event.which);
    	if(keycode == '13'){
    		login();	
    	}
    });
});
function login() {
	var account = $('input[name="modal_login_account"]').val();
	var password = $('input[name="modal_login_password"]').val();

	if(utils.isEmpty(account)){
		utils.alert("#login_msg", "请输入您的账号", "danger");
		return false;
	}
	
	if(utils.isEmpty(password)){
		utils.alert("#login_msg", "请输入您的密码", "danger");
		return false;
	}
	
	$.ajax({
        type: "POST",
        url: '$link.getContextPath()/member/ajaxlogin.html?t='+utils.random(),
        data : {
			account: account,
			password: password
        },
        dataType:"json",
        success: function(response, textStatus, xhr) {
        	if(response.success){
        		window.location.href = "$link.getContextPath()/index.html";
        	} else {
				utils.alert("#login_msg", response.data, "danger");
			}
        },
        error: function(xhr, textStatus, errorThrown) {
			utils.alert("#login_msg", "服务器连接错误", "danger");
        }
    });
}
</script>