<aside class="sidebar">	
<div class="widget d_textbanner">
	
<a class="style02" href="#">
	<strong>热门游戏</strong>
	<h2>$!{hotGame.title}</h2>
	<p>$!{hotGame.content}</p>
</a>

</div>

<div class="widget d_banner"><div class="d_banner_inner"><a style="line-height:116px;font-size:16px;" class="banner-your" href="#advertisement/">全站广告机会 360*120px</a></div></div>

<div class="widget d_banner"><div class="d_banner_inner"><a style="line-height:116px;font-size:16px; height:300px;" class="banner-your" href="#advertisement/">Google AdSense 360*120px</a></div></div>

</aside>