#set($layout="layout/member/template.vm")

<h1>开服信息</h1>
<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>
				编号
			</th>
			<th>游戏名称</th>
			<th>服务器名</th>
			<th>游戏类型</th>
			<th>开服时间</th>
			<th>操作</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><input type="checkbox" id="optionsCheckbox" value="option1"></td>
			<td>乱舞江山</td>
			<td>双线2服</td>
			<td>Q版</td>
			<td>2014-08-02 10:35:00</td>
			<td>
				<a href="#" class="view-link">查看</a>
				<a href="#" class="view-link">修改</a>
				<a href="#" class="view-link">删除</a>
			</td>
		</tr>
	</tbody>
</table>				
<div class="pagination">
	<ul>
		<li class="disabled">
			<a href="#">&laquo;</a>
		</li>
		<li class="active">
			<a href="#">1</a>
		</li>
		<li>
			<a href="#">2</a>
		</li>
		<li>
			<a href="#">3</a>
		</li>
		<li>
			<a href="#">4</a>
		</li>
		<li>
			<a href="#">&raquo;</a>
		</li>
	</ul>
</div>