<!DOCTYPE html>
<!--[if lt IE 7 ]><html lang="en" class="ie6 ielt7 ielt8 ielt9"><![endif]-->
<!--[if IE 7 ]><html lang="en" class="ie7 ielt8 ielt9"><![endif]-->
<!--[if IE 8 ]><html lang="en" class="ie8 ielt9"><![endif]-->
<!--[if IE 9 ]><html lang="en" class="ie9"> <![endif]--><!--[if (gt IE 9)|!(IE)]><!--> 
<html lang="en"><!--<![endif]--> 
	<head>
		<meta charset="utf-8">
		<title>用户登录 - 看开服</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon"rel="shortcut icon" href="$link.getContextPath()/images/favicon.ico?v=1.0.0">
		<link href="$link.getContextPath()/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="$link.getContextPath()/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
		<link href="$link.getContextPath()/bootstrap/css/site.css" rel="stylesheet">
		<!--[if lt IE 9]><script src="$link.getContextPath()/js/html5shiv.min.js"></script><![endif]-->
	</head>
	<body>
		<div id="login-page" class="container">
			<h1>用户登录</h1>
    		<div id="login-form" class="well">
    			<input type="text" name="account" class="span2" placeholder="帐号" required /><br />
    			<input type="password" name="password" class="span2" placeholder="密码" required /><br />
    			
    			<button type="submit" class="btn btn-primary" onclick="login()">登录</button>
    			<a href="$link.getContextPath()/register.html" class="btn">注册</a>
    		</div>
            <div id="sys_msg"></div>
		</div>
		<script src="$link.getContextPath()/bootstrap/js/jquery.min.js"></script>
		<script src="$link.getContextPath()/js/util.js"></script>
		<script src="$link.getContextPath()/bootstrap/js/bootstrap.min.js"></script>
		<script src="$link.getContextPath()/bootstrap/js/site.js"></script>
		<script>
			$(function(){
				$('#login-form').bind('keydown',function(e){
            	      if(e.keyCode==13){
            	    	  login();
            	      }
            	});
			});
			function login() {
            	var account = $('input[name="account"]').val();
            	var password = $('input[name="password"]').val();
            
            	if(utils.isEmpty(account)){
					utils.alert('#sys_msg', '请输入您的账号', 'danger');
            		return false;
            	}
            	
            	if(utils.isEmpty(password)){
					utils.alert('#sys_msg', '请输入您的密码', 'danger');
            		return false;
            	}
            	
            	$.ajax({
                    type: "POST",
                    url: '$link.getContextPath()/member/ajaxlogin.html?t='+utils.random(),
                    data : {
            			account: account,
            			password: password
                    },
                    dataType:"json",
                    success: function(response, textStatus, xhr) {
                    	if(response.success){
                    		window.location.href = "$link.getContextPath()/member/index.html";
                    	} else {
							utils.alert('#sys_msg', response.data, 'danger');
            			}
                    },
                    error: function(xhr, textStatus, errorThrown) {
						utils.alert('#sys_msg', '服务器连接错误', 'danger');
                    }
                });
            }

        </script>
	</body>
</html>