#set($layout="layout/member/template.vm")
<script type="text/javascript" src="$link.getContextPath()/js/member/profile.js"></script>
	
<h1>帐号设置</h1>

<ul class="nav nav-tabs" id="profile-tab">
  <li class="active"><a href="#info">个人资料</a></li>
  <li><a href="#pwd">登录密码</a></li>
</ul>

<div id="sys_msg"></div>

<form id="edit-profile" class="form-horizontal">
<div class="tab-content">
  <div class="tab-pane active" id="info">
	<div class="control-group">
		<label class="control-label">用户名</label>
		<div class="controls">
			<input type="text" class="input-xlarge" value="$!{member.account}" readonly />
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">邮箱</label>
		<div class="controls">
			<input type="text" class="input-xlarge" value="$!{member.email}" readonly />
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">电话</label>
		<div class="controls">
			<input type="text" id="tel" class="input-xlarge" value="$!{member.tel}" />
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">IM</label>
		<div class="controls">
			<input type="text" id="im" class="input-xlarge" value="$!{member.im}" />
		</div>
	</div>
	
	<div class="form-actions">
		<button id="btn_save_profile" type="button" class="btn btn-primary">保存</button> <input type="reset" class="btn" value="重置" />
	</div>
  </div>
  <div class="tab-pane" id="pwd">
	<div class="control-group">
		<label class="control-label" for="input01">原密码</label>
		<div class="controls">
			<input type="password" class="input-xlarge" id="opwd" />
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="input01">新密码</label>
		<div class="controls">
			<input type="password" class="input-xlarge" id="npwd" />
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="input01">确认密码</label>
		<div class="controls">
			<input type="password" class="input-xlarge" id="secpwd" value="" />
		</div>
	</div>
	
	<div class="form-actions">
		<button type="button" id="btn_save_pwd" class="btn btn-primary">保存</button> <input type="reset" class="btn" value="重置" />
	</div>
  </div>
</div>
</form>
