#set($layout="layout/member/template.vm")
<div class="span9">
	<h1>
		更新
	</h1>
	<form id="edit-profile" class="form-horizontal">
		<fieldset>
			<legend>个人资料</legend>
			<div class="control-group">
				<label class="control-label" for="input01">用户名</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="input01" value="John Smith" />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="input01">电话</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="input01" value="555 555 555" />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="input01">邮箱</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="input01" value="john.smith@example.org" />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="fileInput">头像</label>
				<div class="controls">
					<input class="input-file" id="fileInput" type="file" />
				</div>
			</div>						
			<div class="control-group">
				<label class="control-label" for="textarea">简介</label>
				<div class="controls">
					<textarea class="input-xlarge" id="textarea" rows="4">Web technology junkie who writes innovative and bestselling technical books. Also enjoys Sunday bicycle rides and all "good" comedy.</textarea>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="optionsCheckbox">公开信息</label>
				<div class="controls">
					<input type="checkbox" id="optionsCheckbox" value="option1" checked="checked" />
				</div>
			</div>						
			<div class="form-actions">
				<button type="submit" class="btn btn-primary">保存</button> <button class="btn">取消</button>
			</div>
		</fieldset>
	</form>
</div>