<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kfcms.dao.AdminDao">
	<resultMap id="baseResultMap" type="admin">
		<result property="id" column="id" />
		<result property="account" column="account" />
		<result property="password" column="password" />
		<result property="gmtCreated" column="gmt_created" />
		<result property="gmtModified" column="gmt_modified" />
	</resultMap>

	<select id="queryByAccount" parameterType="java.lang.String" resultMap="baseResultMap">
		<![CDATA[
			SELECT id, account, password, gmt_created, gmt_modified
			FROM admin
			WHERE account=#{account}
		]]>
	</select>
	
	<select id="queryAll" resultMap="baseResultMap">
		<![CDATA[
			SELECT id, account, password, gmt_created, gmt_modified
			FROM admin
		]]>
	</select>
	
	<update id="updateByPassword" parameterType="map">
		UPDATE admin SET password=#{password}, gmt_modified = NOW()
		WHERE account = #{account}
	</update>
	
	<delete id="deleteById" parameterType="java.lang.Integer">
		<![CDATA[
			DELETE FROM admin
			WHERE id=#{id}
		]]>
	</delete>

	<insert id="insert" parameterType="admin" useGeneratedKeys="true"
		keyProperty="id">
		<![CDATA[
			INSERT INTO admin (
			account,
			password,
			gmt_created,
			gmt_modified
			)
			VALUES (
			#{account},
			#{password},
			NOW(),
			NOW()
			)
		]]>
	</insert>
</mapper>