<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.kfcms.dao.GameDao">

	<resultMap id="baseResultMap" type="game">
		<result property="id" column="id" />
		<result property="account" column="account" />
		<result property="name" column="name" />
		<result property="startTime" column="start_time" />
		<result property="serverName" column="server_name" />
		<result property="url" column="url" />
		<result property="category" column="category" />
		<result property="platform" column="platform" />
		<result property="status" column="status" />
		<result property="gmtCreated" column="gmt_created" />
		<result property="gmtModified" column="gmt_modified" />
	</resultMap>
	
	<select id="queryList" parameterType="map" resultMap="baseResultMap">
			SELECT id, account, name, start_time, server_name, url, category, platform, status, gmt_created, gmt_modified
			FROM game
			WHERE status = 1
			<if test="startTime != null">
			    AND YEAR(start_time) = YEAR(#{startTime}) 
				AND DAY(start_time) = DAY(#{startTime})
				AND MONTH(start_time) = MONTH(#{startTime})
		    </if>
			ORDER BY id DESC
			LIMIT 0, #{num}
	</select>
	
	<select id="queryListByConditions" parameterType="map" resultMap="baseResultMap">
			SELECT g.id, g.account, g.name, g.start_time, g.server_name, g.url, g.category, g.platform, status, g.gmt_created, g.gmt_modified
			FROM game g
			WHERE 1=1
			<if test="game != null">
				<if test="game.account != null">
					AND g.account = #{game.account}
				</if>
				<if test="game.status != null">
					AND g.status = #{game.status}
				</if>
				<if test="game.startTime != null">
					AND YEAR(start_time) = YEAR(#{game.startTime}) 
					AND DAY(start_time) = DAY(#{game.startTime})
					AND MONTH(start_time) = MONTH(#{game.startTime})
				</if>
			</if>
			<if test="keyWord != null and keyWord !='' ">
				AND (g.name LIKE '%${keyWord}%' OR g.platform LIKE '%${keyWord}%')
			</if>
			ORDER BY id DESC
			LIMIT #{offset}, #{rowCount} 
	</select>
	
	<select id="countListByConditions" parameterType="map" resultType="int">
			SELECT COUNT(g.id) FROM game g
			WHERE 1=1
			<if test="game != null">
				<if test="game.account != null">
					AND g.account = #{game.account}
				</if>
				<if test="game.status != null">
					AND g.status = #{game.status}
				</if>
				<if test="game.startTime != null">
					AND YEAR(start_time) = YEAR(#{game.startTime}) 
					AND DAY(start_time) = DAY(#{game.startTime})
					AND MONTH(start_time) = MONTH(#{game.startTime})
				</if>
			</if>
			<if test="keyWord != null and keyWord !='' ">
				AND (g.name LIKE '%${keyWord}%' OR g.platform LIKE '%${keyWord}%')
			</if>
	</select>
	
	<select id="query" parameterType="game" resultMap="baseResultMap">
			SELECT id, account, name, start_time, server_name, url, category, platform, status, gmt_created, gmt_modified
			FROM game
			WHERE id = #{id} AND account = #{account}
	</select>
	
	<insert id="insert" parameterType="game">
		INSERT INTO game
			(
			account,
			name,
			start_time,
			server_name,
			url,
			category,
			platform,
			status,
			gmt_created,
			gmt_modified)
		VALUES
			(
			#{account},
			#{name},
			#{startTime},
			#{serverName},
			#{url},
			#{category},
			#{platform},
			#{status},
			#{gmtCreated},
			#{gmtModified})
	</insert>
	
	<update id="update" parameterType="game">
		UPDATE game
		SET
		name = #{name},
		start_time = #{startTime},
		server_name = #{serverName},
		url = #{url},
		category = #{category},
		platform = #{platform},
		status = #{status},
		gmt_modified = #{gmtModified}
		WHERE id = #{id} AND account = #{account}
	</update>
	
	<delete id="delete" parameterType="game">
		DELETE FROM game
		WHERE id = #{id} 
		AND account = #{account}
	</delete>
</mapper>