#set($layout="layout/admin/template.vm")
<script type="text/javascript" src="$link.getContextPath()/js/admin/game/edit.js"></script>
<h1>$!{title}</h1>
<form class="form-horizontal">
	<fieldset>
		<legend>开服信息</legend>
		<div id="sys_msg"></div>
		<div class="control-group">
			<label class="control-label">游戏名称</label>
			<div class="controls">
				<input type="text" class="input-xlarge" id="name" value="$!{game.name}" />
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">开始时间</label>
			<div class="controls">		  
				<input type="text" class="input-xlarge" id="statTime" value="$!date.format('yyyy-MM-dd HH:mm',$!game.startTime)" readonly />
				<script>
					$(function(){
						#if($disabled==true)
						$('.form-horizontal input').keyup(function(e){
                    	    if(e.keyCode == 13) {
                    	    	save();
                    	    }
                    	});
						#end
					
						$('#statTime').datetimepicker({
							value:'$!date.format('yyyy-MM-dd HH:mm',$!game.startTime)',
							//mask:"9999-12-31 00:00",
							format:'Y-m-d H:i',
							lang:'ch'
						});
					});
				</script>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">服务器名</label>
			<div class="controls">
				<input type="text" class="input-xlarge" id="serverName" value="$!{game.serverName}" />
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">URL</label>
			<div class="controls">
				<input type="text" class="input-xlarge" id="url" value="$!{game.url}" />
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">游戏类型</label>
			<div class="controls">
				<input type="text" class="input-xlarge" id="category" value="$!{game.category}" />
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">运营商</label>
			<div class="controls">
				<input type="text" class="input-xlarge" id="platform" value="$!{game.platform}" />
			</div>
		</div>
		<div class="control-group">
          <label class="control-label">用户状态</label>
          <div class="controls">
            <select id="status" class="input-xlarge" #if($action=='view') disabled #end >
              <option value="0" #if($game.status==0) selected #end>待审核</option>
              <option value="1" #if($game.status==1) selected #end>已审核</option>
			  <option value="2" #if($game.status==2) selected #end>未通过</option>
            </select>
          </div>
        </div>
		#if($action=='add')
		<div class="control-group">
			<label class="control-label">账号</label>
			<div class="controls">
				<input type="text" class="input-xlarge" id="account" value="$!{game.account}" />
			</div>
		</div>
		#else
			<input type="hidden" id="account" value="$!{game.account}" />
		#end
		
		
		<input type="hidden" id="id" value="$!{game.id}" />
		#if($disabled==true)		
		<div class="form-actions">
			<button type="button" class="btn btn-primary" id="btn_save">保存</button> <input type="reset" class="btn" value="重置" />
		</div>
		#end
	</fieldset>
</form>
