<html>
<head>
<title>Spring MVC : Hello World</title>
</head>
<body>
	<br>
	<div align='center'>
		<h2>${message}</h2>
		#d("Velocity Macro")
		$!date.format('yyyy-MM-dd HH:mm:ss',$!{current})
		
		id = ${id}
	</div>
</body>
</html>