<div class="modal hide fade" id="login" tabindex="-1"
	style="width: 400px; margin-left: -200px;">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">&times;</button>
		<h3>用户登录</h3>
	</div>
	<div class="modal-body">
		<form class="subscribe-mail"
			action="http://list.qq.com/cgi-bin/qf_compose_send" target="_blank"
			method="post">
			<p>
				<strong>账号</strong><br> <input type="text"
					class="input-block-level" value="'+_deel.rss+'">
			</p>

			<p>

				<strong>邮件订阅</strong><br> <input class="pull-left"
					style="width: 300px;" type="email" placeholder="a@b.com">

			</p>

			<p>
				<input class="btn btn-primary pull-right" style="width: 51px;"
					type="submit" value="登录"> <a
					class="btn btn-mini btn-success" target="_blank"
					href="http://www.xianguo.com/subscribe.php?url=http://'+_deel.rss+'">注册</a>
			</p>
		</form>
	</div>
</div>
