<!DOCTYPE html>
<html>
<head>
#parse("layout/meta.vm")
</head>

<body class="home blog" cz-shortcut-listen="true">
#parse("layout/header.vm")

<section class="container">
	<div class="content-wrap">
	<div class="content">
	#parse("layout/toplist.vm")
	<!--置顶推荐 end -->
	<!-- 今日开服 start-->
	<h2 class="title t2">今日开服</h2>
	
	<div class="content-list">
		<ul>
			<li class="list-title ui-left text-overflow">游戏名称</li>
			<li class="list-title ui-left text-overflow">服务器名</li>
			<li class="list-title ui-left text-overflow">游戏类型</li>
			<li class="list-title ui-left text-overflow">开服礼包</li>
			<li class="list-title ui-left text-overflow">运营商</li>
			<li class="list-title ui-left text-overflow">快捷操作</li>
			<li class="list-title ui-left text-overflow">状态</li>
		</ul>
		<ul>
			<li class="list-info ui-left text-overflow"><a href="play.html" target="_blank">乱舞江山</a></li>
			<li class="list-info ui-left text-overflow"><a href="play.html" target="_blank">双线2服</a></li>
			<li class="list-info ui-left text-overflow"><a href="play.html" target="_blank">Q版</a></li>
			<li class="list-info ui-left text-overflow"><a href="play.html" target="_blank">--</a></li>
			<li class="list-info ui-left text-overflow"><a href="play.html" target="_blank">哇塞游戏平台</a></li>
			<li class="list-info ui-left text-overflow"><a href="play.html" target="_blank" class="status1">进入游戏</a></li>
			<li class="list-info ui-left text-overflow"><span class="green">已经开服</span></li>
		</ul>
		<ul>
			<li class="list-info ui-left text-overflow">乱舞江山</li>
			<li class="list-info ui-left text-overflow">双线2服</li>
			<li class="list-info ui-left text-overflow">Q版</li>
			<li class="list-info ui-left text-overflow">
				<a href="javascript:;" onclick="receive('121295', 'http://t.adango.com.cn/073cy1.html');">礼包</a>
			</li>
			<li class="list-info ui-left text-overflow">哇塞游戏平台</li>
			<li class="list-info ui-left text-overflow"><a href="#" class="status1">进入游戏</a></li>
			<li class="list-info ui-left text-overflow"><span class="gray">即将开服</span></li>
		</ul>
		<ul>
			<li class="list-info ui-left text-overflow">乱舞江山</li>
			<li class="list-info ui-left text-overflow">双线2服</li>
			<li class="list-info ui-left text-overflow">Q版</li>
			<li class="list-info ui-left text-overflow">--</li>
			<li class="list-info ui-left text-overflow">哇塞游戏平台</li>
			<li class="list-info ui-left text-overflow"><a href="#" class="status1">进入游戏</a></li>
			<li class="list-info ui-left text-overflow"><span class="green">已经开服</span></li>
		</ul>
		<ul>
			<li class="list-info ui-left text-overflow">乱舞江山</li>
			<li class="list-info ui-left text-overflow">双线2服</li>
			<li class="list-info ui-left text-overflow">Q版</li>
			<li class="list-info ui-left text-overflow">--</li>
			<li class="list-info ui-left text-overflow">哇塞游戏平台</li>
			<li class="list-info ui-left text-overflow"><a href="#" class="status1">进入游戏</a></li>
			<li class="list-info ui-left text-overflow"><span class="green">已经开服</span></li>
		</ul>
		<ul>
			<li class="list-info ui-left text-overflow">乱舞江山</li>
			<li class="list-info ui-left text-overflow">双线2服</li>
			<li class="list-info ui-left text-overflow">Q版</li>
			<li class="list-info ui-left text-overflow">--</li>
			<li class="list-info ui-left text-overflow">哇塞游戏平台</li>
			<li class="list-info ui-left text-overflow"><a href="#" class="status1">进入游戏</a></li>
			<li class="list-info ui-left text-overflow"><span class="green">已经开服</span></li>
		</ul>
		<ul>
			<li class="list-info ui-left text-overflow">乱舞江山</li>
			<li class="list-info ui-left text-overflow">双线2服</li>
			<li class="list-info ui-left text-overflow">Q版</li>
			<li class="list-info ui-left text-overflow">--</li>
			<li class="list-info ui-left text-overflow">哇塞游戏平台</li>
			<li class="list-info ui-left text-overflow"><a href="#" class="status1">进入游戏</a></li>
			<li class="list-info ui-left text-overflow"><span class="green">已经开服</span></li>
		</ul>
		<ul>
			<li class="list-info ui-left text-overflow">乱舞江山</li>
			<li class="list-info ui-left text-overflow">双线2服</li>
			<li class="list-info ui-left text-overflow">Q版</li>
			<li class="list-info ui-left text-overflow">--</li>
			<li class="list-info ui-left text-overflow">哇塞游戏平台</li>
			<li class="list-info ui-left text-overflow"><a href="#" class="status1">进入游戏</a></li>
			<li class="list-info ui-left text-overflow"><span class="green">已经开服</span></li>
		</ul>
		<ul>
			<li class="list-info ui-left text-overflow">乱舞江山</li>
			<li class="list-info ui-left text-overflow">双线2服</li>
			<li class="list-info ui-left text-overflow">Q版</li>
			<li class="list-info ui-left text-overflow">--</li>
			<li class="list-info ui-left text-overflow">哇塞游戏平台</li>
			<li class="list-info ui-left text-overflow"><a href="#" class="status1">进入游戏</a></li>
			<li class="list-info ui-left text-overflow"><span class="green">已经开服</span></li>
		</ul>
		<ul>
			<li class="list-info ui-left text-overflow">乱舞江山</li>
			<li class="list-info ui-left text-overflow">双线2服</li>
			<li class="list-info ui-left text-overflow">Q版</li>
			<li class="list-info ui-left text-overflow">--</li>
			<li class="list-info ui-left text-overflow">哇塞游戏平台</li>
			<li class="list-info ui-left text-overflow"><a href="#" class="status1">进入游戏</a></li>
			<li class="list-info ui-left text-overflow"><span class="green">已经开服</span></li>
		</ul>
		<ul>
			<li class="list-info ui-left text-overflow">乱舞江山</li>
			<li class="list-info ui-left text-overflow">双线2服</li>
			<li class="list-info ui-left text-overflow">Q版</li>
			<li class="list-info ui-left text-overflow">--</li>
			<li class="list-info ui-left text-overflow">哇塞游戏平台</li>
			<li class="list-info ui-left text-overflow"><a href="#" class="status1">进入游戏</a></li>
			<li class="list-info ui-left text-overflow"><span class="gray">即将开服</span></li>
		</ul>
		<ul>
			<li class="list-info ui-left text-overflow">乱舞江山</li>
			<li class="list-info ui-left text-overflow">双线2服</li>
			<li class="list-info ui-left text-overflow">Q版</li>
			<li class="list-info ui-left text-overflow">--</li>
			<li class="list-info ui-left text-overflow">哇塞游戏平台</li>
			<li class="list-info ui-left text-overflow"><a href="#" class="status1">进入游戏</a></li>
			<li class="list-info ui-left text-overflow"><span class="green">已经开服</span></li>
		</ul>
		<ul>
			<li class="list-info ui-left text-overflow">乱舞江山</li>
			<li class="list-info ui-left text-overflow">双线2服</li>
			<li class="list-info ui-left text-overflow">Q版</li>
			<li class="list-info ui-left text-overflow">--</li>
			<li class="list-info ui-left text-overflow">哇塞游戏平台</li>
			<li class="list-info ui-left text-overflow"><a href="#" class="status1">进入游戏</a></li>
			<li class="list-info ui-left text-overflow"><span class="green">已经开服</span></li>
		</ul>
		<ul>
			<li class="list-info ui-left text-overflow">乱舞江山</li>
			<li class="list-info ui-left text-overflow">双线2服</li>
			<li class="list-info ui-left text-overflow">Q版</li>
			<li class="list-info ui-left text-overflow">--</li>
			<li class="list-info ui-left text-overflow">哇塞游戏平台</li>
			<li class="list-info ui-left text-overflow"><a href="#" class="status1">进入游戏</a></li>
			<li class="list-info ui-left text-overflow"><span class="green">已经开服</span></li>
		</ul>
		<ul>
			<li class="list-info ui-left text-overflow">乱舞江山</li>
			<li class="list-info ui-left text-overflow">双线2服</li>
			<li class="list-info ui-left text-overflow">Q版</li>
			<li class="list-info ui-left text-overflow">--</li>
			<li class="list-info ui-left text-overflow">哇塞游戏平台</li>
			<li class="list-info ui-left text-overflow"><a href="#" class="status1">进入游戏</a></li>
			<li class="list-info ui-left text-overflow"><span class="green">已经开服</span></li>
		</ul>
		<ul>
			<li class="list-info ui-left text-overflow">乱舞江山</li>
			<li class="list-info ui-left text-overflow">双线2服</li>
			<li class="list-info ui-left text-overflow">Q版</li>
			<li class="list-info ui-left text-overflow">--</li>
			<li class="list-info ui-left text-overflow">哇塞游戏平台</li>
			<li class="list-info ui-left text-overflow"><a href="#" class="status1">进入游戏</a></li>
			<li class="list-info ui-left text-overflow"><span class="green">已经开服</span></li>
		</ul>
		<ul>
			<li class="list-info ui-left text-overflow">乱舞江山</li>
			<li class="list-info ui-left text-overflow">双线2服</li>
			<li class="list-info ui-left text-overflow">Q版</li>
			<li class="list-info ui-left text-overflow">--</li>
			<li class="list-info ui-left text-overflow">哇塞游戏平台</li>
			<li class="list-info ui-left text-overflow"><a href="#" class="status1">进入游戏</a></li>
			<li class="list-info ui-left text-overflow"><span class="green">已经开服</span></li>
		</ul>
		<ul>
			<li class="list-info ui-left text-overflow">乱舞江山</li>
			<li class="list-info ui-left text-overflow">双线2服</li>
			<li class="list-info ui-left text-overflow">Q版</li>
			<li class="list-info ui-left text-overflow">--</li>
			<li class="list-info ui-left text-overflow">哇塞游戏平台</li>
			<li class="list-info ui-left text-overflow"><a href="#" class="status1">进入游戏</a></li>
			<li class="list-info ui-left text-overflow"><span class="green">已经开服</span></li>
		</ul>
		<ul>
			<li class="list-info ui-left text-overflow">乱舞江山</li>
			<li class="list-info ui-left text-overflow">双线2服</li>
			<li class="list-info ui-left text-overflow">Q版</li>
			<li class="list-info ui-left text-overflow">--</li>
			<li class="list-info ui-left text-overflow">哇塞游戏平台</li>
			<li class="list-info ui-left text-overflow"><a href="#" class="status1">进入游戏</a></li>
			<li class="list-info ui-left text-overflow"><span class="gray">即将开服</span></li>
		</ul>
		<ul>
			<li class="list-info ui-left text-overflow">乱舞江山</li>
			<li class="list-info ui-left text-overflow">双线2服</li>
			<li class="list-info ui-left text-overflow">Q版</li>
			<li class="list-info ui-left text-overflow">--</li>
			<li class="list-info ui-left text-overflow">哇塞游戏平台</li>
			<li class="list-info ui-left text-overflow"><a href="#" class="status1">进入游戏</a></li>
			<li class="list-info ui-left text-overflow"><span class="green">已经开服</span></li>
		</ul>
		<ul>
			<li class="list-info ui-left text-overflow">乱舞江山</li>
			<li class="list-info ui-left text-overflow">双线2服</li>
			<li class="list-info ui-left text-overflow">Q版</li>
			<li class="list-info ui-left text-overflow">--</li>
			<li class="list-info ui-left text-overflow">哇塞游戏平台</li>
			<li class="list-info ui-left text-overflow"><a href="#" class="status1">进入游戏</a></li>
			<li class="list-info ui-left text-overflow"><span class="green">已经开服</span></li>
		</ul>
		<ul>
			<li class="list-info ui-left text-overflow">乱舞江山</li>
			<li class="list-info ui-left text-overflow">双线2服</li>
			<li class="list-info ui-left text-overflow">Q版</li>
			<li class="list-info ui-left text-overflow">--</li>
			<li class="list-info ui-left text-overflow">哇塞游戏平台</li>
			<li class="list-info ui-left text-overflow"><a href="#" class="status1">进入游戏</a></li>
			<li class="list-info ui-left text-overflow"><span class="green">已经开服</span></li>
		</ul>
		<ul>
			<li class="list-info ui-left text-overflow">乱舞江山</li>
			<li class="list-info ui-left text-overflow">双线2服</li>
			<li class="list-info ui-left text-overflow">Q版</li>
			<li class="list-info ui-left text-overflow">--</li>
			<li class="list-info ui-left text-overflow">哇塞游戏平台</li>
			<li class="list-info ui-left text-overflow"><a href="#" class="status1">进入游戏</a></li>
			<li class="list-info ui-left text-overflow"><span class="green">已经开服</span></li>
		</ul>
		<ul>
			<li class="list-info ui-left text-overflow">乱舞江山</li>
			<li class="list-info ui-left text-overflow">双线2服</li>
			<li class="list-info ui-left text-overflow">Q版</li>
			<li class="list-info ui-left text-overflow">--</li>
			<li class="list-info ui-left text-overflow">哇塞游戏平台</li>
			<li class="list-info ui-left text-overflow"><a href="#" class="status1">进入游戏</a></li>
			<li class="list-info ui-left text-overflow"><span class="green">已经开服</span></li>
		</ul>
		<ul>
			<li class="list-info ui-left text-overflow">乱舞江山</li>
			<li class="list-info ui-left text-overflow">双线2服</li>
			<li class="list-info ui-left text-overflow">Q版</li>
			<li class="list-info ui-left text-overflow">--</li>
			<li class="list-info ui-left text-overflow">哇塞游戏平台</li>
			<li class="list-info ui-left text-overflow"><a href="#" class="status1">进入游戏</a></li>
			<li class="list-info ui-left text-overflow"><span class="green">已经开服</span></li>
		</ul>
		<ul>
			<li class="list-info ui-left text-overflow">乱舞江山</li>
			<li class="list-info ui-left text-overflow">双线2服</li>
			<li class="list-info ui-left text-overflow">Q版</li>
			<li class="list-info ui-left text-overflow">--</li>
			<li class="list-info ui-left text-overflow">哇塞游戏平台</li>
			<li class="list-info ui-left text-overflow"><a href="#" class="status1">进入游戏</a></li>
			<li class="list-info ui-left text-overflow"><span class="green">已经开服</span></li>
		</ul>
		<ul>
			<li class="list-info ui-left text-overflow">乱舞江山</li>
			<li class="list-info ui-left text-overflow">双线2服</li>
			<li class="list-info ui-left text-overflow">Q版</li>
			<li class="list-info ui-left text-overflow">--</li>
			<li class="list-info ui-left text-overflow">哇塞游戏平台</li>
			<li class="list-info ui-left text-overflow"><a href="#" class="status1">进入游戏</a></li>
			<li class="list-info ui-left text-overflow"><span class="gray">即将开服</span></li>
		</ul>
		<ul>
			<li class="list-info ui-left text-overflow">乱舞江山</li>
			<li class="list-info ui-left text-overflow">双线2服</li>
			<li class="list-info ui-left text-overflow">Q版</li>
			<li class="list-info ui-left text-overflow">--</li>
			<li class="list-info ui-left text-overflow">哇塞游戏平台</li>
			<li class="list-info ui-left text-overflow"><a href="#" class="status1">进入游戏</a></li>
			<li class="list-info ui-left text-overflow"><span class="green">已经开服</span></li>
		</ul>
		<ul>
			<li class="list-info ui-left text-overflow">乱舞江山</li>
			<li class="list-info ui-left text-overflow">双线2服</li>
			<li class="list-info ui-left text-overflow">Q版</li>
			<li class="list-info ui-left text-overflow">--</li>
			<li class="list-info ui-left text-overflow">哇塞游戏平台</li>
			<li class="list-info ui-left text-overflow"><a href="#" class="status1">进入游戏</a></li>
			<li class="list-info ui-left text-overflow"><span class="green">已经开服</span></li>
		</ul>
		<ul>
			<li class="list-info ui-left text-overflow">乱舞江山</li>
			<li class="list-info ui-left text-overflow">双线2服</li>
			<li class="list-info ui-left text-overflow">Q版</li>
			<li class="list-info ui-left text-overflow">--</li>
			<li class="list-info ui-left text-overflow">哇塞游戏平台</li>
			<li class="list-info ui-left text-overflow"><a href="#" class="status1">进入游戏</a></li>
			<li class="list-info ui-left text-overflow"><span class="green">已经开服</span></li>
		</ul>
		<ul>
			<li class="list-info ui-left text-overflow">乱舞江山</li>
			<li class="list-info ui-left text-overflow">双线2服</li>
			<li class="list-info ui-left text-overflow">Q版</li>
			<li class="list-info ui-left text-overflow">--</li>
			<li class="list-info ui-left text-overflow">哇塞游戏平台</li>
			<li class="list-info ui-left text-overflow"><a href="#" class="status1">进入游戏</a></li>
			<li class="list-info ui-left text-overflow"><span class="green">已经开服</span></li>
		</ul>
		<ul>
			<li class="list-info ui-left text-overflow">乱舞江山</li>
			<li class="list-info ui-left text-overflow">双线2服</li>
			<li class="list-info ui-left text-overflow">Q版</li>
			<li class="list-info ui-left text-overflow">--</li>
			<li class="list-info ui-left text-overflow">哇塞游戏平台</li>
			<li class="list-info ui-left text-overflow"><a href="#" class="status1">进入游戏</a></li>
			<li class="list-info ui-left text-overflow"><span class="green">已经开服</span></li>
		</ul>
		<ul>
			<li class="list-info ui-left text-overflow">乱舞江山</li>
			<li class="list-info ui-left text-overflow">双线2服</li>
			<li class="list-info ui-left text-overflow">Q版</li>
			<li class="list-info ui-left text-overflow">--</li>
			<li class="list-info ui-left text-overflow">哇塞游戏平台</li>
			<li class="list-info ui-left text-overflow"><a href="#" class="status1">进入游戏</a></li>
			<li class="list-info ui-left text-overflow"><span class="green">已经开服</span></li>
		</ul>
		<ul>
			<li class="list-info ui-left text-overflow">乱舞江山</li>
			<li class="list-info ui-left text-overflow">双线2服</li>
			<li class="list-info ui-left text-overflow">Q版</li>
			<li class="list-info ui-left text-overflow">--</li>
			<li class="list-info ui-left text-overflow">哇塞游戏平台</li>
			<li class="list-info ui-left text-overflow"><a href="#" class="status1">进入游戏</a></li>
			<li class="list-info ui-left text-overflow"><span class="green">已经开服</span></li>
		</ul>
		<ul>
			<li class="list-info ui-left text-overflow">乱舞江山</li>
			<li class="list-info ui-left text-overflow">双线2服</li>
			<li class="list-info ui-left text-overflow">Q版</li>
			<li class="list-info ui-left text-overflow">--</li>
			<li class="list-info ui-left text-overflow">哇塞游戏平台</li>
			<li class="list-info ui-left text-overflow"><a href="#" class="status1">进入游戏</a></li>
			<li class="list-info ui-left text-overflow"><span class="gray">即将开服</span></li>
		</ul>
		<ul>
			<li class="list-info ui-left text-overflow">乱舞江山</li>
			<li class="list-info ui-left text-overflow">双线2服</li>
			<li class="list-info ui-left text-overflow">Q版</li>
			<li class="list-info ui-left text-overflow">--</li>
			<li class="list-info ui-left text-overflow">哇塞游戏平台</li>
			<li class="list-info ui-left text-overflow"><a href="#" class="status1">进入游戏</a></li>
			<li class="list-info ui-left text-overflow"><span class="green">已经开服</span></li>
		</ul>
		<ul>
			<li class="list-info ui-left text-overflow">乱舞江山</li>
			<li class="list-info ui-left text-overflow">双线2服</li>
			<li class="list-info ui-left text-overflow">Q版</li>
			<li class="list-info ui-left text-overflow">--</li>
			<li class="list-info ui-left text-overflow">哇塞游戏平台</li>
			<li class="list-info ui-left text-overflow"><a href="#" class="status1">进入游戏</a></li>
			<li class="list-info ui-left text-overflow"><span class="green">已经开服</span></li>
		</ul>
		<ul>
			<li class="list-info ui-left text-overflow">乱舞江山</li>
			<li class="list-info ui-left text-overflow">双线2服</li>
			<li class="list-info ui-left text-overflow">Q版</li>
			<li class="list-info ui-left text-overflow">--</li>
			<li class="list-info ui-left text-overflow">哇塞游戏平台</li>
			<li class="list-info ui-left text-overflow"><a href="#" class="status1">进入游戏</a></li>
			<li class="list-info ui-left text-overflow"><span class="green">已经开服</span></li>
		</ul>
		<ul>
			<li class="list-info ui-left text-overflow">乱舞江山</li>
			<li class="list-info ui-left text-overflow">双线2服</li>
			<li class="list-info ui-left text-overflow">Q版</li>
			<li class="list-info ui-left text-overflow">--</li>
			<li class="list-info ui-left text-overflow">哇塞游戏平台</li>
			<li class="list-info ui-left text-overflow"><a href="#" class="status1">进入游戏</a></li>
			<li class="list-info ui-left text-overflow"><span class="green">已经开服</span></li>
		</ul>
		<ul>
			<li class="list-info ui-left text-overflow">乱舞江山</li>
			<li class="list-info ui-left text-overflow">双线2服</li>
			<li class="list-info ui-left text-overflow">Q版</li>
			<li class="list-info ui-left text-overflow">--</li>
			<li class="list-info ui-left text-overflow">哇塞游戏平台</li>
			<li class="list-info ui-left text-overflow"><a href="#" class="status1">进入游戏</a></li>
			<li class="list-info ui-left text-overflow"><span class="green">已经开服</span></li>
		</ul>
		<ul>
			<li class="list-info ui-left text-overflow">乱舞江山</li>
			<li class="list-info ui-left text-overflow">双线2服</li>
			<li class="list-info ui-left text-overflow">Q版</li>
			<li class="list-info ui-left text-overflow">--</li>
			<li class="list-info ui-left text-overflow">哇塞游戏平台</li>
			<li class="list-info ui-left text-overflow"><a href="#" class="status1">进入游戏</a></li>
			<li class="list-info ui-left text-overflow"><span class="green">已经开服</span></li>
		</ul>
		<ul>
			<li class="list-info ui-left text-overflow">乱舞江山</li>
			<li class="list-info ui-left text-overflow">双线2服</li>
			<li class="list-info ui-left text-overflow">Q版</li>
			<li class="list-info ui-left text-overflow">--</li>
			<li class="list-info ui-left text-overflow">哇塞游戏平台</li>
			<li class="list-info ui-left text-overflow"><a href="#" class="status1">进入游戏</a></li>
			<li class="list-info ui-left text-overflow"><span class="green">已经开服</span></li>
		</ul>
		<ul>
			<li class="list-info ui-left text-overflow">乱舞江山</li>
			<li class="list-info ui-left text-overflow">双线2服</li>
			<li class="list-info ui-left text-overflow">Q版</li>
			<li class="list-info ui-left text-overflow">--</li>
			<li class="list-info ui-left text-overflow">哇塞游戏平台</li>
			<li class="list-info ui-left text-overflow"><a href="#" class="status1">进入游戏</a></li>
			<li class="list-info ui-left text-overflow"><span class="gray">即将开服</span></li>
		</ul>
		<ul>
			<li class="list-info ui-left text-overflow">乱舞江山</li>
			<li class="list-info ui-left text-overflow">双线2服</li>
			<li class="list-info ui-left text-overflow">Q版</li>
			<li class="list-info ui-left text-overflow">--</li>
			<li class="list-info ui-left text-overflow">哇塞游戏平台</li>
			<li class="list-info ui-left text-overflow"><a href="#" class="status1">进入游戏</a></li>
			<li class="list-info ui-left text-overflow"><span class="green">已经开服</span></li>
		</ul>
		<ul>
			<li class="list-info ui-left text-overflow">乱舞江山</li>
			<li class="list-info ui-left text-overflow">双线2服</li>
			<li class="list-info ui-left text-overflow">Q版</li>
			<li class="list-info ui-left text-overflow">--</li>
			<li class="list-info ui-left text-overflow">哇塞游戏平台</li>
			<li class="list-info ui-left text-overflow"><a href="#" class="status1">进入游戏</a></li>
			<li class="list-info ui-left text-overflow"><span class="green">已经开服</span></li>
		</ul>
		<ul>
			<li class="list-info ui-left text-overflow">乱舞江山</li>
			<li class="list-info ui-left text-overflow">双线2服</li>
			<li class="list-info ui-left text-overflow">Q版</li>
			<li class="list-info ui-left text-overflow">--</li>
			<li class="list-info ui-left text-overflow">哇塞游戏平台</li>
			<li class="list-info ui-left text-overflow"><a href="#" class="status1">进入游戏</a></li>
			<li class="list-info ui-left text-overflow"><span class="green">已经开服</span></li>
		</ul>
		<ul>
			<li class="list-info ui-left text-overflow">乱舞江山</li>
			<li class="list-info ui-left text-overflow">双线2服</li>
			<li class="list-info ui-left text-overflow">Q版</li>
			<li class="list-info ui-left text-overflow">--</li>
			<li class="list-info ui-left text-overflow">哇塞游戏平台</li>
			<li class="list-info ui-left text-overflow"><a href="#" class="status1">进入游戏</a></li>
			<li class="list-info ui-left text-overflow"><span class="green">已经开服</span></li>
		</ul>
		<ul>
			<li class="list-info ui-left text-overflow">乱舞江山</li>
			<li class="list-info ui-left text-overflow">双线2服</li>
			<li class="list-info ui-left text-overflow">Q版</li>
			<li class="list-info ui-left text-overflow">--</li>
			<li class="list-info ui-left text-overflow">哇塞游戏平台</li>
			<li class="list-info ui-left text-overflow"><a href="#" class="status1">进入游戏</a></li>
			<li class="list-info ui-left text-overflow"><span class="green">已经开服</span></li>
		</ul>
		<ul>
			<li class="list-info ui-left text-overflow">乱舞江山</li>
			<li class="list-info ui-left text-overflow">双线2服</li>
			<li class="list-info ui-left text-overflow">Q版</li>
			<li class="list-info ui-left text-overflow"><a href="javascript:;" onclick="receive('121295', 'http://t.adango.com.cn/073cy1.html');">礼包</a></li>
			<li class="list-info ui-left text-overflow">哇塞游戏平台</li>
			<li class="list-info ui-left text-overflow"><a href="#" class="status1">进入游戏</a></li>
			<li class="list-info ui-left text-overflow"><span class="green">已经开服</span></li>
		</ul>
	</div>
	<div class="load-more">
		<a href="today.html" title="点击加载更多内容">加载更多...</a>
	</div>
	
	<!-- 今日开服 end-->
	
	<!-- 明日开服 start-->
	<h2 class="title t2">明日开服</h2>
	<div class="content-list">
		<ul>
			<li class="list-title ui-left text-overflow">游戏名称</li>
			<li class="list-title ui-left text-overflow">服务器名</li>
			<li class="list-title ui-left text-overflow">游戏类型</li>
			<li class="list-title ui-left text-overflow">开服礼包</li>
			<li class="list-title ui-left text-overflow">运营商</li>
			<li class="list-title ui-left text-overflow">快捷操作</li>
			<li class="list-title ui-left text-overflow">状态</li>
		</ul>
		<ul>
			<li class="list-info ui-left text-overflow">乱舞江山</li>
			<li class="list-info ui-left text-overflow">双线2服</li>
			<li class="list-info ui-left text-overflow">Q版</li>
			<li class="list-info ui-left text-overflow">--</li>
			<li class="list-info ui-left text-overflow">哇塞游戏平台</li>
			<li class="list-info ui-left text-overflow"><a href="#" class="status1">进入游戏</a></li>
			<li class="list-info ui-left text-overflow"><span class="green">已经开服</span></li>
		</ul>
		<ul>
			<li class="list-info ui-left text-overflow">乱舞江山</li>
			<li class="list-info ui-left text-overflow">双线2服</li>
			<li class="list-info ui-left text-overflow">Q版</li>
			<li class="list-info ui-left text-overflow">--</li>
			<li class="list-info ui-left text-overflow">哇塞游戏平台</li>
			<li class="list-info ui-left text-overflow"><a href="#" class="status1">进入游戏</a></li>
			<li class="list-info ui-left text-overflow"><span class="gray">即将开服</span></li>
		</ul>
		<ul>
			<li class="list-info ui-left text-overflow">乱舞江山</li>
			<li class="list-info ui-left text-overflow">双线2服</li>
			<li class="list-info ui-left text-overflow">Q版</li>
			<li class="list-info ui-left text-overflow">--</li>
			<li class="list-info ui-left text-overflow">哇塞游戏平台</li>
			<li class="list-info ui-left text-overflow"><a href="#" class="status1">进入游戏</a></li>
			<li class="list-info ui-left text-overflow"><span class="green">已经开服</span></li>
		</ul>
		<ul>
			<li class="list-info ui-left text-overflow">乱舞江山</li>
			<li class="list-info ui-left text-overflow">双线2服</li>
			<li class="list-info ui-left text-overflow">Q版</li>
			<li class="list-info ui-left text-overflow">--</li>
			<li class="list-info ui-left text-overflow">哇塞游戏平台</li>
			<li class="list-info ui-left text-overflow"><a href="#" class="status1">进入游戏</a></li>
			<li class="list-info ui-left text-overflow"><span class="green">已经开服</span></li>
		</ul>
		<ul>
			<li class="list-info ui-left text-overflow">乱舞江山</li>
			<li class="list-info ui-left text-overflow">双线2服</li>
			<li class="list-info ui-left text-overflow">Q版</li>
			<li class="list-info ui-left text-overflow">--</li>
			<li class="list-info ui-left text-overflow">哇塞游戏平台</li>
			<li class="list-info ui-left text-overflow"><a href="#" class="status1">进入游戏</a></li>
			<li class="list-info ui-left text-overflow"><span class="green">已经开服</span></li>
		</ul>
		<ul>
			<li class="list-info ui-left text-overflow">乱舞江山</li>
			<li class="list-info ui-left text-overflow">双线2服</li>
			<li class="list-info ui-left text-overflow">Q版</li>
			<li class="list-info ui-left text-overflow">--</li>
			<li class="list-info ui-left text-overflow">哇塞游戏平台</li>
			<li class="list-info ui-left text-overflow"><a href="#" class="status1">进入游戏</a></li>
			<li class="list-info ui-left text-overflow"><span class="green">已经开服</span></li>
		</ul>
		<ul>
			<li class="list-info ui-left text-overflow">乱舞江山</li>
			<li class="list-info ui-left text-overflow">双线2服</li>
			<li class="list-info ui-left text-overflow">Q版</li>
			<li class="list-info ui-left text-overflow">--</li>
			<li class="list-info ui-left text-overflow">哇塞游戏平台</li>
			<li class="list-info ui-left text-overflow"><a href="#" class="status1">进入游戏</a></li>
			<li class="list-info ui-left text-overflow"><span class="green">已经开服</span></li>
		</ul>
		<ul>
			<li class="list-info ui-left text-overflow">乱舞江山</li>
			<li class="list-info ui-left text-overflow">双线2服</li>
			<li class="list-info ui-left text-overflow">Q版</li>
			<li class="list-info ui-left text-overflow">--</li>
			<li class="list-info ui-left text-overflow">哇塞游戏平台</li>
			<li class="list-info ui-left text-overflow"><a href="#" class="status1">进入游戏</a></li>
			<li class="list-info ui-left text-overflow"><span class="green">已经开服</span></li>
		</ul>
		<ul>
			<li class="list-info ui-left text-overflow">乱舞江山</li>
			<li class="list-info ui-left text-overflow">双线2服</li>
			<li class="list-info ui-left text-overflow">Q版</li>
			<li class="list-info ui-left text-overflow">--</li>
			<li class="list-info ui-left text-overflow">哇塞游戏平台</li>
			<li class="list-info ui-left text-overflow"><a href="#" class="status1">进入游戏</a></li>
			<li class="list-info ui-left text-overflow"><span class="green">已经开服</span></li>
		</ul>
		<ul>
			<li class="list-info ui-left text-overflow">乱舞江山</li>
			<li class="list-info ui-left text-overflow">双线2服</li>
			<li class="list-info ui-left text-overflow">Q版</li>
			<li class="list-info ui-left text-overflow">--</li>
			<li class="list-info ui-left text-overflow">哇塞游戏平台</li>
			<li class="list-info ui-left text-overflow"><a href="#" class="status1">进入游戏</a></li>
			<li class="list-info ui-left text-overflow"><span class="gray">即将开服</span></li>
		</ul>
		<ul>
			<li class="list-info ui-left text-overflow">乱舞江山</li>
			<li class="list-info ui-left text-overflow">双线2服</li>
			<li class="list-info ui-left text-overflow">Q版</li>
			<li class="list-info ui-left text-overflow">--</li>
			<li class="list-info ui-left text-overflow">哇塞游戏平台</li>
			<li class="list-info ui-left text-overflow"><a href="#" class="status1">进入游戏</a></li>
			<li class="list-info ui-left text-overflow"><span class="green">已经开服</span></li>
		</ul>
		<ul>
			<li class="list-info ui-left text-overflow">乱舞江山</li>
			<li class="list-info ui-left text-overflow">双线2服</li>
			<li class="list-info ui-left text-overflow">Q版</li>
			<li class="list-info ui-left text-overflow">--</li>
			<li class="list-info ui-left text-overflow">哇塞游戏平台</li>
			<li class="list-info ui-left text-overflow"><a href="#" class="status1">进入游戏</a></li>
			<li class="list-info ui-left text-overflow"><span class="green">已经开服</span></li>
		</ul>
		<ul>
			<li class="list-info ui-left text-overflow">乱舞江山</li>
			<li class="list-info ui-left text-overflow">双线2服</li>
			<li class="list-info ui-left text-overflow">Q版</li>
			<li class="list-info ui-left text-overflow">--</li>
			<li class="list-info ui-left text-overflow">哇塞游戏平台</li>
			<li class="list-info ui-left text-overflow"><a href="#" class="status1">进入游戏</a></li>
			<li class="list-info ui-left text-overflow"><span class="green">已经开服</span></li>
		</ul>
		<ul>
			<li class="list-info ui-left text-overflow">乱舞江山</li>
			<li class="list-info ui-left text-overflow">双线2服</li>
			<li class="list-info ui-left text-overflow">Q版</li>
			<li class="list-info ui-left text-overflow">--</li>
			<li class="list-info ui-left text-overflow">哇塞游戏平台</li>
			<li class="list-info ui-left text-overflow"><a href="#" class="status1">进入游戏</a></li>
			<li class="list-info ui-left text-overflow"><span class="green">已经开服</span></li>
		</ul>
		<ul>
			<li class="list-info ui-left text-overflow">乱舞江山</li>
			<li class="list-info ui-left text-overflow">双线2服</li>
			<li class="list-info ui-left text-overflow">Q版</li>
			<li class="list-info ui-left text-overflow">--</li>
			<li class="list-info ui-left text-overflow">哇塞游戏平台</li>
			<li class="list-info ui-left text-overflow"><a href="#" class="status1">进入游戏</a></li>
			<li class="list-info ui-left text-overflow"><span class="green">已经开服</span></li>
		</ul>
		<ul>
			<li class="list-info ui-left text-overflow">乱舞江山</li>
			<li class="list-info ui-left text-overflow">双线2服</li>
			<li class="list-info ui-left text-overflow">Q版</li>
			<li class="list-info ui-left text-overflow">--</li>
			<li class="list-info ui-left text-overflow">哇塞游戏平台</li>
			<li class="list-info ui-left text-overflow"><a href="#" class="status1">进入游戏</a></li>
			<li class="list-info ui-left text-overflow"><span class="green">已经开服</span></li>
		</ul>
		<ul>
			<li class="list-info ui-left text-overflow">乱舞江山</li>
			<li class="list-info ui-left text-overflow">双线2服</li>
			<li class="list-info ui-left text-overflow">Q版</li>
			<li class="list-info ui-left text-overflow">--</li>
			<li class="list-info ui-left text-overflow">哇塞游戏平台</li>
			<li class="list-info ui-left text-overflow"><a href="#" class="status1">进入游戏</a></li>
			<li class="list-info ui-left text-overflow"><span class="green">已经开服</span></li>
		</ul>
		<ul>
			<li class="list-info ui-left text-overflow">乱舞江山</li>
			<li class="list-info ui-left text-overflow">双线2服</li>
			<li class="list-info ui-left text-overflow">Q版</li>
			<li class="list-info ui-left text-overflow">--</li>
			<li class="list-info ui-left text-overflow">哇塞游戏平台</li>
			<li class="list-info ui-left text-overflow"><a href="#" class="status1">进入游戏</a></li>
			<li class="list-info ui-left text-overflow"><span class="gray">即将开服</span></li>
		</ul>
		<ul>
			<li class="list-info ui-left text-overflow">乱舞江山</li>
			<li class="list-info ui-left text-overflow">双线2服</li>
			<li class="list-info ui-left text-overflow">Q版</li>
			<li class="list-info ui-left text-overflow">--</li>
			<li class="list-info ui-left text-overflow">哇塞游戏平台</li>
			<li class="list-info ui-left text-overflow"><a href="#" class="status1">进入游戏</a></li>
			<li class="list-info ui-left text-overflow"><span class="green">已经开服</span></li>
		</ul>
		<ul>
			<li class="list-info ui-left text-overflow">乱舞江山</li>
			<li class="list-info ui-left text-overflow">双线2服</li>
			<li class="list-info ui-left text-overflow">Q版</li>
			<li class="list-info ui-left text-overflow">--</li>
			<li class="list-info ui-left text-overflow">哇塞游戏平台</li>
			<li class="list-info ui-left text-overflow"><a href="#" class="status1">进入游戏</a></li>
			<li class="list-info ui-left text-overflow"><span class="green">已经开服</span></li>
		</ul>
		<ul>
			<li class="list-info ui-left text-overflow">乱舞江山</li>
			<li class="list-info ui-left text-overflow">双线2服</li>
			<li class="list-info ui-left text-overflow">Q版</li>
			<li class="list-info ui-left text-overflow">--</li>
			<li class="list-info ui-left text-overflow">哇塞游戏平台</li>
			<li class="list-info ui-left text-overflow"><a href="#" class="status1">进入游戏</a></li>
			<li class="list-info ui-left text-overflow"><span class="green">已经开服</span></li>
		</ul>
		<ul>
			<li class="list-info ui-left text-overflow">乱舞江山</li>
			<li class="list-info ui-left text-overflow">双线2服</li>
			<li class="list-info ui-left text-overflow">Q版</li>
			<li class="list-info ui-left text-overflow">--</li>
			<li class="list-info ui-left text-overflow">哇塞游戏平台</li>
			<li class="list-info ui-left text-overflow"><a href="#" class="status1">进入游戏</a></li>
			<li class="list-info ui-left text-overflow"><span class="green">已经开服</span></li>
		</ul>
		<ul>
			<li class="list-info ui-left text-overflow">乱舞江山</li>
			<li class="list-info ui-left text-overflow">双线2服</li>
			<li class="list-info ui-left text-overflow">Q版</li>
			<li class="list-info ui-left text-overflow">--</li>
			<li class="list-info ui-left text-overflow">哇塞游戏平台</li>
			<li class="list-info ui-left text-overflow"><a href="#" class="status1">进入游戏</a></li>
			<li class="list-info ui-left text-overflow"><span class="green">已经开服</span></li>
		</ul>
		<ul>
			<li class="list-info ui-left text-overflow">乱舞江山</li>
			<li class="list-info ui-left text-overflow">双线2服</li>
			<li class="list-info ui-left text-overflow">Q版</li>
			<li class="list-info ui-left text-overflow">--</li>
			<li class="list-info ui-left text-overflow">哇塞游戏平台</li>
			<li class="list-info ui-left text-overflow"><a href="#" class="status1">进入游戏</a></li>
			<li class="list-info ui-left text-overflow"><span class="green">已经开服</span></li>
		</ul>
	</div>
	<div class="load-more">
		<a href="tomorrow.html" title="点击加载更多内容">加载更多...</a>
	</div>
	<!-- 明日开服 end-->
	
	<div class="pagination" style="display: none;">
		<ul>
			<li class="prev-page"></li><li class="active"><span>1</span></li>
			<li><a href="#page/2">2</a></li>
			<li><a href="#page/3">3</a></li>
			<li><a href="#page/4">4</a></li>
			<li><a href="#page/5">5</a></li>
			<li><span> ... </span></li>
			<li class="next-page"><a href="#page/2">下一页</a></li>
		</ul>
	</div>
	<!-- pagination end -->
	</div>
</div>
<!-- side -->
#parse("layout/side.vm")
<!-- side -->
</section>

#parse("layout/footer.vm")
<script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="js/base.js"></script>
#parse("layout/modal.vm")
</body>

</html>