<!DOCTYPE html>
<html>
<head>
#parse("layout/meta.vm")
</head>

<body class="home blog" cz-shortcut-listen="true">
#parse("layout/header.vm")

<section class="container">
	<div class="content-wrap">
	<div class="content">
	#parse("layout/toplist.vm")
	
	<!-- Rank Start-->
	<div class="ran-rank mod-rank-wr">
                <div class="mod-rank-head">
                    <h3 class="ran-rank-title ui-left">开服数量排行</h3>     
                </div>
                <div class="mod-rank-list-wr">
                    <ol class="mod-rank-list">
                                                                                                                                                                                                                    <li>
                                        <sub class="mod-rank-keep ui-left">1</sub>
                                        <a class="mod-rank-name ui-left" target="_blank" title="地狱神医" href="/Comic/comicInfo/id/522134">地狱神医</a>
                                        <sup class="ui-rank-trend-up"></sup>
                                        <span class="mod-rank-num ui-right">44.2%</span>
                                    </li>
                                                                                                                                <li>
                                        <sub class="mod-rank-keep ui-left">2</sub>
                                        <a class="mod-rank-name ui-left" target="_blank" title="超游世界" href="/Comic/comicInfo/id/522134">超游世界</a>
                                        <sup class="ui-rank-trend-up"></sup>
                                        <span class="mod-rank-num ui-right">11.9%</span>
                                    </li>
                                                                                                                                <li>
                                        <sub class="mod-rank-keep ui-left">3</sub>
                                        <a class="mod-rank-name ui-left" target="_blank" title="丧尸笔记" href="/Comic/comicInfo/id/522134">丧尸笔记</a>
                                        <sup class="ui-rank-trend-up"></sup>
                                        <span class="mod-rank-num ui-right">11.2%</span>
                                    </li>
                                                                                                                                <li>
                                        <sub class="mod-rank-light ui-left">4</sub>
                                        <a class="mod-rank-name ui-left" target="_blank" title="诡墓谈" href="/Comic/comicInfo/id/522230">诡墓谈</a>
                                        <sup class="ui-rank-trend-up"></sup>
                                        <span class="mod-rank-num ui-right">9.6%</span>
                                    </li>
                                                                                                                                <li>
                                        <sub class="mod-rank-light ui-left">5</sub>
                                        <a class="mod-rank-name ui-left" target="_blank" title="撸王" href="/Comic/comicInfo/id/522718">撸王</a>
                                        <sup class="ui-rank-trend-up"></sup>
                                        <span class="mod-rank-num ui-right">8.6%</span>
                                   <li>
                                        <sub class="mod-rank-light ui-left">6</sub>
                                        <a target="_blank" class="mod-rank-name ui-left" title="狂神" href="/Comic/comicInfo/id/518008">狂神</a>
                                        <sup class="ui-rank-trend-keep"></sup>
                                        <span class="mod-rank-num ui-right">7.6%</span>
                                    </li>
                                                                                                                                <li>
                                        <sub class="mod-rank-light ui-left">7</sub>
                                        <a class="mod-rank-name ui-left" target="_blank" title="仙逆" href="/Comic/comicInfo/id/521108">仙逆</a>
                                        <sup class="ui-rank-trend-up"></sup>
                                        <span class="mod-rank-num ui-right">6.8%</span>
                                    </li>
                                                                                                                                <li>
                                        <sub class="mod-rank-light ui-left">8</sub>
                                        <a class="mod-rank-name ui-left" target="_blank" title="通职者" href="/Comic/comicInfo/id/522388">通职者</a>
                                        <sup class="ui-rank-trend-up"></sup>
                                        <span class="mod-rank-num ui-right">4.7%</span>
                                    </li>
                                                                                                                                <li>
                                        <sub class="mod-rank-light ui-left">9</sub>
                                        <a class="mod-rank-name ui-left" target="_blank" title="妖怪名单" href="/Comic/comicInfo/id/521825">妖怪名单</a>
                                        <sup class="ui-rank-trend-up"></sup>
                                        <span class="mod-rank-num ui-right">4.4%</span>
                                    </li>
                                                                                                                                <li>
                                        <sub class="mod-rank-light ui-left">10</sub>
                                        <a class="mod-rank-name ui-left" target="_blank" title="时间典当使" href="/Comic/comicInfo/id/519949">时间典当使</a>
                                        <sup class="ui-rank-trend-down"></sup>
                                        <span class="mod-rank-num ui-right">3.9%</span>
                                    </li>
                                                                                                        </ol>                                            
                </div>            
            </div>
			
			<div class="ran-rank ran-rank-left mod-rank-wr">
                <div class="mod-rank-head">
                    <h3 class="ran-rank-title ui-left">热门点击排行</h3>     
                </div>
                <div class="mod-rank-list-wr">
                    <ol class="mod-rank-list">
                                                                                                                                                                                                                    <li>
                                        <sub class="mod-rank-keep ui-left">1</sub>
                                        <a class="mod-rank-name ui-left" target="_blank" title="地狱神医" href="/Comic/comicInfo/id/522134">地狱神医</a>
                                        <sup class="ui-rank-trend-up"></sup>
                                        <span class="mod-rank-num ui-right">44.2%</span>
                                    </li>
                                                                                                                                <li>
                                        <sub class="mod-rank-keep ui-left">2</sub>
                                        <a class="mod-rank-name ui-left" target="_blank" title="超游世界" href="/Comic/comicInfo/id/522134">超游世界</a>
                                        <sup class="ui-rank-trend-up"></sup>
                                        <span class="mod-rank-num ui-right">11.9%</span>
                                    </li>
                                                                                                                                <li>
                                        <sub class="mod-rank-keep ui-left">3</sub>
                                        <a class="mod-rank-name ui-left" target="_blank" title="丧尸笔记" href="/Comic/comicInfo/id/522134">丧尸笔记</a>
                                        <sup class="ui-rank-trend-up"></sup>
                                        <span class="mod-rank-num ui-right">11.2%</span>
                                    </li>
                                                                                                                                <li>
                                        <sub class="mod-rank-light ui-left">4</sub>
                                        <a class="mod-rank-name ui-left" target="_blank" title="诡墓谈" href="/Comic/comicInfo/id/522230">诡墓谈</a>
                                        <sup class="ui-rank-trend-up"></sup>
                                        <span class="mod-rank-num ui-right">9.6%</span>
                                    </li>
                                                                                                                                <li>
                                        <sub class="mod-rank-light ui-left">5</sub>
                                        <a class="mod-rank-name ui-left" target="_blank" title="撸王" href="/Comic/comicInfo/id/522718">撸王</a>
                                        <sup class="ui-rank-trend-up"></sup>
                                        <span class="mod-rank-num ui-right">8.6%</span>
                                   <li>
                                        <sub class="mod-rank-light ui-left">6</sub>
                                        <a target="_blank" class="mod-rank-name ui-left" title="狂神" href="/Comic/comicInfo/id/518008">狂神</a>
                                        <sup class="ui-rank-trend-keep"></sup>
                                        <span class="mod-rank-num ui-right">7.6%</span>
                                    </li>
                                                                                                                                <li>
                                        <sub class="mod-rank-light ui-left">7</sub>
                                        <a class="mod-rank-name ui-left" target="_blank" title="仙逆" href="/Comic/comicInfo/id/521108">仙逆</a>
                                        <sup class="ui-rank-trend-up"></sup>
                                        <span class="mod-rank-num ui-right">6.8%</span>
                                    </li>
                                                                                                                                <li>
                                        <sub class="mod-rank-light ui-left">8</sub>
                                        <a class="mod-rank-name ui-left" target="_blank" title="通职者" href="/Comic/comicInfo/id/522388">通职者</a>
                                        <sup class="ui-rank-trend-up"></sup>
                                        <span class="mod-rank-num ui-right">4.7%</span>
                                    </li>
                                                                                                                                <li>
                                        <sub class="mod-rank-light ui-left">9</sub>
                                        <a class="mod-rank-name ui-left" target="_blank" title="妖怪名单" href="/Comic/comicInfo/id/521825">妖怪名单</a>
                                        <sup class="ui-rank-trend-up"></sup>
                                        <span class="mod-rank-num ui-right">4.4%</span>
                                    </li>
                                                                                                                                <li>
                                        <sub class="mod-rank-light ui-left">10</sub>
                                        <a class="mod-rank-name ui-left" target="_blank" title="时间典当使" href="/Comic/comicInfo/id/519949">时间典当使</a>
                                        <sup class="ui-rank-trend-down"></sup>
                                        <span class="mod-rank-num ui-right">3.9%</span>
                                    </li>
                                                                                                        </ol>                                            
                </div>            
            </div>
			
			<div class="ran-rank ran-rank-left mod-rank-wr">
                <div class="mod-rank-head">
                    <h3 class="ran-rank-title ui-left">搜索热度排行</h3>     
                </div>
                <div class="mod-rank-list-wr">
                    <ol class="mod-rank-list">
                                                                                                                                                                                                                    <li>
                                        <sub class="mod-rank-keep ui-left">1</sub>
                                        <a class="mod-rank-name ui-left" target="_blank" title="地狱神医" href="/Comic/comicInfo/id/522134">地狱神医</a>
                                        <sup class="ui-rank-trend-up"></sup>
                                        <span class="mod-rank-num ui-right">44.2%</span>
                                    </li>
                                                                                                                                <li>
                                        <sub class="mod-rank-keep ui-left">2</sub>
                                        <a class="mod-rank-name ui-left" target="_blank" title="超游世界" href="/Comic/comicInfo/id/522134">超游世界</a>
                                        <sup class="ui-rank-trend-up"></sup>
                                        <span class="mod-rank-num ui-right">11.9%</span>
                                    </li>
                                                                                                                                <li>
                                        <sub class="mod-rank-keep ui-left">3</sub>
                                        <a class="mod-rank-name ui-left" target="_blank" title="丧尸笔记" href="/Comic/comicInfo/id/522134">丧尸笔记</a>
                                        <sup class="ui-rank-trend-up"></sup>
                                        <span class="mod-rank-num ui-right">11.2%</span>
                                    </li>
                                                                                                                                <li>
                                        <sub class="mod-rank-light ui-left">4</sub>
                                        <a class="mod-rank-name ui-left" target="_blank" title="诡墓谈" href="/Comic/comicInfo/id/522230">诡墓谈</a>
                                        <sup class="ui-rank-trend-up"></sup>
                                        <span class="mod-rank-num ui-right">9.6%</span>
                                    </li>
                                                                                                                                <li>
                                        <sub class="mod-rank-light ui-left">5</sub>
                                        <a class="mod-rank-name ui-left" target="_blank" title="撸王" href="/Comic/comicInfo/id/522718">撸王</a>
                                        <sup class="ui-rank-trend-up"></sup>
                                        <span class="mod-rank-num ui-right">8.6%</span>
                                   <li>
                                        <sub class="mod-rank-light ui-left">6</sub>
                                        <a target="_blank" class="mod-rank-name ui-left" title="狂神" href="/Comic/comicInfo/id/518008">狂神</a>
                                        <sup class="ui-rank-trend-keep"></sup>
                                        <span class="mod-rank-num ui-right">7.6%</span>
                                    </li>
                                                                                                                                <li>
                                        <sub class="mod-rank-light ui-left">7</sub>
                                        <a class="mod-rank-name ui-left" target="_blank" title="仙逆" href="/Comic/comicInfo/id/521108">仙逆</a>
                                        <sup class="ui-rank-trend-up"></sup>
                                        <span class="mod-rank-num ui-right">6.8%</span>
                                    </li>
                                                                                                                                <li>
                                        <sub class="mod-rank-light ui-left">8</sub>
                                        <a class="mod-rank-name ui-left" target="_blank" title="通职者" href="/Comic/comicInfo/id/522388">通职者</a>
                                        <sup class="ui-rank-trend-up"></sup>
                                        <span class="mod-rank-num ui-right">4.7%</span>
                                    </li>
                                                                                                                                <li>
                                        <sub class="mod-rank-light ui-left">9</sub>
                                        <a class="mod-rank-name ui-left" target="_blank" title="妖怪名单" href="/Comic/comicInfo/id/521825">妖怪名单</a>
                                        <sup class="ui-rank-trend-up"></sup>
                                        <span class="mod-rank-num ui-right">4.4%</span>
                                    </li>
                                                                                                                                <li>
                                        <sub class="mod-rank-light ui-left">10</sub>
                                        <a class="mod-rank-name ui-left" target="_blank" title="时间典当使" href="/Comic/comicInfo/id/519949">时间典当使</a>
                                        <sup class="ui-rank-trend-down"></sup>
                                        <span class="mod-rank-num ui-right">3.9%</span>
                                    </li>
                                                                                                        </ol>                                            
                </div>            
            </div>
	<!-- Rank End-->

	</div>
</div>
<!-- side -->
#parse("layout/side.vm")
<!-- side -->
</section>

#parse("layout/footer.vm")

<script type="text/javascript" src="$link.getContextPath()/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="$link.getContextPath()/js/base.js"></script>

#parse("layout/modal.vm")
</body>

</html>