#set($layout="layout/template.vm")

<div class="reg_content">
	<div class="reg_title">会员注册</div>
	<form action="" method="post">
		<div class="reg_form">
			<p>
				<label for="name">用 户 名</label><input name="name"
                    id="name" type="text"> <span>用户名至少6个字符，最多16个字符！</span>
			</p>
			<p>
				<label for="password">密  码</label><input name="password"
                    id="password" type="password"> <span>至少6个长度，建议设复杂点！</span>
			</p>
			<p>
				<label for="password1">确认密码</label><input name="password1"
					id="password1" type="password">
			</p>
			<p>
				<label for="email">邮 箱</label><input name="email" id="email"
                    type="text"> <span>邮箱至少6个字符，建议用QQ邮箱，通过认证后可作登录用！</span>
			</p>
			<p>
				<label for="tel">电 话</label><input name="tel" id="tel"
                    type="text"> <span>没有可不填，建议填写！</span>
			</p>
			<!--
			<p class="reg_form_p">
				<img src="$link.getContextPath()/images/verifycode.png"
					style="cursor: hand;" alt="验证码" title="点击换图">
			</p>
			<p>
				<label for="code">验 证 码</label><input name="code" id="code"
					type="text">
			</p>
			-->
			<p class="reg_form_p">
				<input class="reg_btn" value="注　册" type="button">
			</p>

		</div>

	</form>
</div>

</form>
<script>
$(function(){
	$('.reg_btn').click(function(){
		reg();
	});
	
	function reg() {
		$.ajax({
	        type: "POST",
	        url: '$link.getContextPath()/reg.html',
	        data : {
	            name: $('#name').val(),
				password: $('#password').val(),
				email: $('#email').val()
	        },
	        dataType:"json",
	        success: function(response, textStatus, xhr) {
	        	if(response.success){
	        		alert(true);
	        	}
	        },
	        error: function(xhr, textStatus, errorThrown) {
	        	return false;
	        }
        });
	}
});
</script>




