<!DOCTYPE html>
<html>
<head>
#parse("layout/meta.vm")
</head>

<body class="home blog" cz-shortcut-listen="true">
#parse("layout/header.vm")

<section class="container">
	<div class="content-wrap">
	<div class="content">
	##parse("layout/toplist.vm")
	
	<!-- 明日开服 start-->
	<h2 class="title">明日开服</h2>
	##parse("layout/rank.vm")
	#gamelist($games 'tomorrow')
	<!-- 明日开服 end-->
	<!-- pagination -->
	#pagination3($totalPages, $page, 'tomorrow.html?')		

	</div>
</div>
<!-- side -->
#parse("layout/side.vm")
<!-- side -->
</section>

#parse("layout/footer.vm")

<script type="text/javascript" src="js/base.js"></script>

#parse("layout/modal.vm")
</body>

</html>