<!DOCTYPE html>
<!--[if lt IE 7 ]><html lang="en" class="ie6 ielt7 ielt8 ielt9"><![endif]-->
<!--[if IE 7 ]><html lang="en" class="ie7 ielt8 ielt9"><![endif]-->
<!--[if IE 8 ]><html lang="en" class="ie8 ielt9"><![endif]-->
<!--[if IE 9 ]><html lang="en" class="ie9"> <![endif]--><!--[if (gt IE 9)|!(IE)]><!--> 
<html lang="en"><!--<![endif]--> 
	<head>
		<meta charset="utf-8">
		<title>后台管理 - 看开服</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon"rel="shortcut icon" href="$link.getContextPath()/images/favicon.ico?v=1.0.0">
		<link href="$link.getContextPath()/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="$link.getContextPath()/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
		<link href="$link.getContextPath()/css/jquery.datetimepicker.css" rel="stylesheet">
		<link href="$link.getContextPath()/bootstrap/css/site.css" rel="stylesheet">
		<!--[if lt IE 9]><script src="$link.getContextPath()/js/html5shiv.min.js"></script><![endif]-->

		<script src="$link.getContextPath()/js/jquery-1.11.1.min.js"></script>
		<script src="$link.getContextPath()/js/jquery.datetimepicker.js"></script>
		<script src="$link.getContextPath()/js/util.js"></script>
		#parse("layout/context.vm")
		<style <style type="text/css">
			body,table,input,textarea,select {font-family:微软雅黑,宋体,Arial,Verdana,sans-serif;}
			.float_left {float:left;}
			.float_right {float:right;}
        </style>
	</head>
	<body>
		<div class="container">
			<div class="navbar">
				<div class="navbar-inner">
					<div class="container">
						<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a> <a class="brand" href="#">后台管理</a>
						<div class="nav-collapse">
							<ul class="nav">
								<li>
									<a href="$link.getContextPath()/index.html" target="_blank">首页</a>
								</li>
								<li>
									<a href="$link.getContextPath()/admin/profile.html">帐号设置</a>
								</li>
							</ul>
							<ul class="nav pull-right">
								<li>
									<a href="$link.getContextPath()/admin/profile.html">您好，$!{LOGIN_ADMIN.account}</a>
								</li>
								<li>
									<a href="$link.getContextPath()/admin/logout.html">退出</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="span3">
					<div class="well" style="padding: 8px 0;">
						<ul class="nav nav-list">
							<li class="nav-header">
								菜单
							</li>
							<li #if($nav=='index') class="active" #end>
								<a href="$link.getContextPath()/admin/index.html"><i class="icon-home"></i> 后台主页</a>
							</li>
							<li #if($nav=='game') class="active" #end>
								<a href="$link.getContextPath()/admin/game/index.html"><i class="icon-list-alt"></i> 开服管理</a>
							</li>
							<li #if($nav=='user') class="active" #end>
								<a href="$link.getContextPath()/admin/user/index.html"><i class="icon-user"></i> 用户管理</a>
							</li>
							<li #if($nav=='news') class="active" #end>
								<a href="$link.getContextPath()/admin/news/index.html"><i class=" icon-edit"></i> 资讯管理</a>
							</li>
							<li #if($nav=='ads') class="active" #end>
								<a href="#"><i class="icon-screenshot"></i> 广告管理</a>
							</li>
							<li #if($nav=='ads') class="active" #end>
								<a href="#"><i class="icon-gift"></i> 礼包管理</a>
							</li>
							<li class="divider">
							</li>
							<li class="nav-header">
								我的帐户
							</li>
							<li #if($nav=='profile') class="active" #end>
								<a href="$link.getContextPath()/admin/profile.html"><i class="icon-user"></i> 帐号管理</a>
							</li>
							<li #if($nav=='setting') class="active" #end>
								<a href="#"><i class="icon-cog"></i> 系统设置</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="span9">
					
					$screen_content
					
					<div class="pager">
							© 2014 <a href="#">看开服</a> - 最新最全网页游戏开服信息就在看开服。
					</div>
				</div>
			</div>
		</div>
		
		<script src="$link.getContextPath()/bootstrap/js/bootstrap.min.js"></script>
		<script src="$link.getContextPath()/bootstrap/js/site.js"></script>
	</body>
</html>
